In [33]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
from src.utils import parse_results
!pwd

/Users/vornao/Desktop/unipi/ML/neural-network-from-scratch/notebooks

In [40]:
res2416 = pd.read_csv("../result_gs/2416_coarse.csv", index_col=0)
res3216 = pd.read_csv("../result_gs/3216_coarse.csv", index_col=0)


res2416['arch'] = ['2416' for _ in range(len(res2416))]
res2416.sort_values(by=['val_mee'], ascending=True).head(10)

,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss,arch
20,0.01,0.6,L2,1.000000e-06,1.374785,1.507122,1.530589,1.902052,2416
15,0.01,0.5,L1,1.000000e-07,1.414127,1.527049,1.639867,1.956650,2416
4,0.01,0.8,L1,1.000000e-08,1.349195,1.530176,1.503708,1.888967,2416
14,0.01,0.5,L2,1.000000e-06,1.425183,1.530595,1.654643,1.939496,2416
8,0.01,0.7,L2,1.000000e-06,1.423747,1.533627,1.674558,1.957098,2416
7,0.01,0.7,L2,1.000000e-08,1.354886,1.534635,1.501222,1.906195,2416
21,0.01,0.6,L1,1.000000e-07,1.420339,1.537199,1.650570,1.948987,2416
12,0.01,0.5,L2,1.000000e-07,1.364562,1.540034,1.529307,1.944479,2416
6,0.01,0.7,L2,1.000000e-07,1.391812,1.541028,1.583687,1.955255,2416
22,0.01,0.6,L1,1.000000e-08,1.407154,1.542902,1.629880,1.991972,2416

In [42]:
res3216['arch'] = ['3216' for _ in range(len(res3216))]
res3216.sort_values(by=['val_mee'], ascending=True).head(10)

,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss,arch
9,0.01,0.7,L1,1.000000e-07,1.301938,1.504099,1.380023,1.847203,3216
18,0.01,0.6,L2,1.000000e-07,1.367036,1.515177,1.524881,1.926374,3216
19,0.01,0.6,L2,1.000000e-08,1.352272,1.521254,1.521124,1.908520,3216
10,0.01,0.7,L1,1.000000e-08,1.332933,1.521845,1.446599,1.896396,3216
2,0.01,0.8,L2,1.000000e-06,1.369629,1.527600,1.541926,1.949463,3216
6,0.01,0.7,L2,1.000000e-07,1.342049,1.528804,1.474481,1.887249,3216
12,0.01,0.5,L2,1.000000e-07,1.410650,1.531043,1.623438,1.954434,3216
22,0.01,0.6,L1,1.000000e-08,1.373023,1.532750,1.545445,1.910736,3216
20,0.01,0.6,L2,1.000000e-06,1.415620,1.535830,1.632705,1.953430,3216
14,0.01,0.5,L2,1.000000e-06,1.399758,1.536219,1.601472,1.949207,3216

In [65]:
# merge results
res = pd.concat([res2416, res3216])
res['reg_val'] = res['reg_val'].apply(lambda x: np.log10(x))

# round all values to 4 decimals
res = res.round(3)
res.sort_values(by=['val_mee'], ascending=True, inplace=True)

In [66]:
best = res.head(8)
best

     eta  nesterov reg_type  reg_val  tr_mee  val_mee   loss  val_loss  arch
9   0.01       0.7       L1     -7.0   1.302    1.504  1.380     1.847  3216
20  0.01       0.6       L2     -6.0   1.375    1.507  1.531     1.902  2416
18  0.01       0.6       L2     -7.0   1.367    1.515  1.525     1.926  3216
19  0.01       0.6       L2     -8.0   1.352    1.521  1.521     1.909  3216
10  0.01       0.7       L1     -8.0   1.333    1.522  1.447     1.896  3216
15  0.01       0.5       L1     -7.0   1.414    1.527  1.640     1.957  2416
2   0.01       0.8       L2     -6.0   1.370    1.528  1.542     1.949  3216
6   0.01       0.7       L2     -7.0   1.342    1.529  1.474     1.887  3216

In [79]:
# describe best with arch 2416
best[best['arch'] == '2416']

np.arange(-7.2, -5.8, 0.2)

array([-7.2, -7. , -6.8, -6.6, -6.4, -6.2, -6. , -5.8])

In [80]:
#same
best[best['arch'] == '3216']
np.arange(-8.2, -7, 0.2)

array([-8.2, -8. , -7.8, -7.6, -7.4, -7.2])

In [51]:
res.sort_values(by=['val_mee'], ascending=True).head(8).to_csv("./results_coarse_mix.csv", index=False, sep='&')

In [85]:
fine3216 = pd.read_csv("../result_gs/3216_fine.csv", index_col=0)
fine3216.sort_values(by=['val_mee'], ascending=True).head(10)

fine3216['arch'] = ['3216' for _ in range(len(fine3216))]
fine3216.sort_values(by=['val_mee'], ascending=True, inplace=True)
fine3216.head(8)

,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss,arch
226,0.014,0.60,L2,6.309573e-08,1.289481,1.497922,1.349918,1.850261,3216
253,0.014,0.66,L1,1.584893e-08,1.284251,1.501803,1.332352,1.829525,3216
127,0.010,0.68,L2,1.584893e-08,1.264757,1.503696,1.286881,1.837372,3216
274,0.014,0.68,L2,6.309573e-08,1.310219,1.508823,1.407817,1.879317,3216
173,0.012,0.64,L1,1.000000e-07,1.326958,1.512048,1.440068,1.872156,3216
103,0.010,0.64,L2,1.584893e-08,1.315769,1.512703,1.416940,1.863251,3216
209,0.012,0.70,L1,1.000000e-07,1.359202,1.514098,1.503501,1.920594,3216
160,0.012,0.62,L1,6.309573e-08,1.332072,1.514135,1.466284,1.900869,3216

In [83]:
fine2416 = pd.read_csv("../result_gs/2416_fine.csv", index_col=0)
fine2416.sort_values(by=['val_mee'], ascending=True).head(10)

fine2416['arch'] = ['2416' for _ in range(len(fine2416))]
fine2416['reg_val'] = fine2416['reg_val'].apply(lambda x: np.log10(x))
fine2416 = fine2416.round(3)
fine2416.sort_values(by=['val_mee'], ascending=True, inplace=True)
fine2416.head(8)

       eta  nesterov reg_type  reg_val  tr_mee  val_mee   loss  val_loss  arch
128  0.010      0.58       L2     -6.6   1.301    1.498  1.379     1.854  2416
222  0.014      0.50       L2     -7.0   1.299    1.504  1.378     1.858  2416
145  0.012      0.50       L1     -6.8   1.373    1.513  1.570     1.899  2416
107  0.010      0.54       L2     -6.0   1.372    1.514  1.540     1.909  2416
25   0.008      0.54       L1     -6.8   1.398    1.514  1.618     1.925  2416
251  0.014      0.54       L2     -6.0   1.354    1.515  1.512     1.888  2416
215  0.012      0.60       L2     -6.0   1.360    1.516  1.526     1.918  2416
132  0.010      0.60       L1     -7.0   1.394    1.518  1.597     1.937  2416