In [33]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
from src.utils import parse_results
!pwd

/Users/vornao/Desktop/unipi/ML/neural-network-from-scratch/notebooks

In [40]:
res2416 = pd.read_csv("../result_gs/2416_coarse.csv", index_col=0)
res3216 = pd.read_csv("../result_gs/3216_coarse.csv", index_col=0)


res2416['arch'] = ['2416' for _ in range(len(res2416))]
res2416.sort_values(by=['val_mee'], ascending=True).head(10)

,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss,arch
20,0.01,0.6,L2,1.000000e-06,1.374785,1.507122,1.530589,1.902052,2416
15,0.01,0.5,L1,1.000000e-07,1.414127,1.527049,1.639867,1.956650,2416
4,0.01,0.8,L1,1.000000e-08,1.349195,1.530176,1.503708,1.888967,2416
14,0.01,0.5,L2,1.000000e-06,1.425183,1.530595,1.654643,1.939496,2416
8,0.01,0.7,L2,1.000000e-06,1.423747,1.533627,1.674558,1.957098,2416
7,0.01,0.7,L2,1.000000e-08,1.354886,1.534635,1.501222,1.906195,2416
21,0.01,0.6,L1,1.000000e-07,1.420339,1.537199,1.650570,1.948987,2416
12,0.01,0.5,L2,1.000000e-07,1.364562,1.540034,1.529307,1.944479,2416
6,0.01,0.7,L2,1.000000e-07,1.391812,1.541028,1.583687,1.955255,2416
22,0.01,0.6,L1,1.000000e-08,1.407154,1.542902,1.629880,1.991972,2416

In [42]:
res3216['arch'] = ['3216' for _ in range(len(res3216))]
res3216.sort_values(by=['val_mee'], ascending=True).head(10)

,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss,arch
9,0.01,0.7,L1,1.000000e-07,1.301938,1.504099,1.380023,1.847203,3216
18,0.01,0.6,L2,1.000000e-07,1.367036,1.515177,1.524881,1.926374,3216
19,0.01,0.6,L2,1.000000e-08,1.352272,1.521254,1.521124,1.908520,3216
10,0.01,0.7,L1,1.000000e-08,1.332933,1.521845,1.446599,1.896396,3216
2,0.01,0.8,L2,1.000000e-06,1.369629,1.527600,1.541926,1.949463,3216
6,0.01,0.7,L2,1.000000e-07,1.342049,1.528804,1.474481,1.887249,3216
12,0.01,0.5,L2,1.000000e-07,1.410650,1.531043,1.623438,1.954434,3216
22,0.01,0.6,L1,1.000000e-08,1.373023,1.532750,1.545445,1.910736,3216
20,0.01,0.6,L2,1.000000e-06,1.415620,1.535830,1.632705,1.953430,3216
14,0.01,0.5,L2,1.000000e-06,1.399758,1.536219,1.601472,1.949207,3216

In [65]:
# merge results
res = pd.concat([res2416, res3216])
res['reg_val'] = res['reg_val'].apply(lambda x: np.log10(x))

# round all values to 4 decimals
res = res.round(3)
res.sort_values(by=['val_mee'], ascending=True, inplace=True)

In [66]:
best = res.head(8)
best

     eta  nesterov reg_type  reg_val  tr_mee  val_mee   loss  val_loss  arch
9   0.01       0.7       L1     -7.0   1.302    1.504  1.380     1.847  3216
20  0.01       0.6       L2     -6.0   1.375    1.507  1.531     1.902  2416
18  0.01       0.6       L2     -7.0   1.367    1.515  1.525     1.926  3216
19  0.01       0.6       L2     -8.0   1.352    1.521  1.521     1.909  3216
10  0.01       0.7       L1     -8.0   1.333    1.522  1.447     1.896  3216
15  0.01       0.5       L1     -7.0   1.414    1.527  1.640     1.957  2416
2   0.01       0.8       L2     -6.0   1.370    1.528  1.542     1.949  3216
6   0.01       0.7       L2     -7.0   1.342    1.529  1.474     1.887  3216

In [67]:
# describe best with arch 2416
best[best['arch'] == '2416'].describe()

        eta  nesterov   reg_val    tr_mee   val_mee      loss  val_loss
count  2.00  2.000000  2.000000  2.000000  2.000000  2.000000  2.000000
mean   0.01  0.550000 -6.500000  1.394500  1.517000  1.585500  1.929500
std    0.00  0.070711  0.707107  0.027577  0.014142  0.077075  0.038891
min    0.01  0.500000 -7.000000  1.375000  1.507000  1.531000  1.902000
25%    0.01  0.525000 -6.750000  1.384750  1.512000  1.558250  1.915750
50%    0.01  0.550000 -6.500000  1.394500  1.517000  1.585500  1.929500
75%    0.01  0.575000 -6.250000  1.404250  1.522000  1.612750  1.943250
max    0.01  0.600000 -6.000000  1.414000  1.527000  1.640000  1.957000

In [51]:
res.sort_values(by=['val_mee'], ascending=True).head(8).to_csv("./results_coarse_mix.csv", index=False, sep='&')