In [6]:
# add the src folder to the path
import sys
import pandas as pd
sys.path.append('../')

from src.search import grid_search_cv
from src.utils import load_cup, parse_results
from src.validation import kfold_cv

from src.network import Network
from src.activations import ReLU, Sigmoid
from src.losses import MeanSquaredError
from src.metrics import MeanEuclideanError
from src.regularizers import L1, L2
from src.callbacks import EarlyStopping

X, y, scaler = load_cup(validation=False, scale_outputs=True)
y.shape

(1194, 2, 1)

In [ ]:
#Coarse grained grid search 24-16
model = Network(9)
model.add_layer(24, ReLU())
model.add_layer(16, ReLU())
model.add_layer(2, Sigmoid())

gs_results = grid_search_cv(
    model, 
    x=X, 
    y=y, 
    n_folds=3,
    metric=MeanEuclideanError(), 
    loss=MeanSquaredError(), 
    eta=[1e-2, 1e-3],
    nesterov=[0.8, 0.7, 0.5, 0.6],
    reg_type=[L2, L1],
    reg_val=[1e-7, 1e-8, 1e-6],
    epochs=1000,
    scaler=scaler,
    workers=8,
    verbose=False
)

In [ ]:
results_df = parse_results(gs_results)
results_df.to_csv('../result_gs/2416_coarse.csv')

In [ ]:
# coarse grained 32-16
#Coarse grained grid search
model = Network(9)
model.add_layer(32, ReLU())
model.add_layer(16, ReLU())
model.add_layer(2, Sigmoid())

gs_results = grid_search_cv(
    model, 
    x=X, 
    y=y, 
    n_folds=3,
    metric=MeanEuclideanError(), 
    loss=MeanSquaredError(), 
    eta=[1e-2, 1e-3],
    nesterov=[0.8, 0.7, 0.5, 0.6],
    reg_type=[L2, L1],
    reg_val=[1e-7, 1e-8, 1e-6],
    epochs=1000,
    scaler=scaler,
    workers=8,
    verbose=False
)

In [ ]:
results_df = parse_results(gs_results)
results_df.to_csv('../result_gs/3216_coarse.csv')

In [ ]:
#Fine grained grid search 24-16
model = Network(9)
model.add_layer(24, ReLU())
model.add_layer(16, ReLU())
model.add_layer(2, Sigmoid(), initializer='xavier')

gs_results = grid_search_cv(
    model, 
    x=X, 
    y=y, 
    n_folds=3,
    metric=MeanEuclideanError(), 
    loss=MeanSquaredError(), 
    eta=[0.8e-2, 1e-2, 1.2e-2, 1.4e-2],
    nesterov=[0.5, 0.52, 0.54, 0.56, 0.58, 0.6],
    reg_type=[L1,L2],
    reg_val=[1e-7, 10**(-6.8), 10**(-6.6), 10**(-6.4), 10**(-6.2), 1e-6],
    epochs=1000,
    scaler=scaler,
    workers=8,
    verbose=False
)

In [ ]:
results_df = parse_results(gs_results)
results_df.to_csv('../result_gs/2416_fine.csv')

In [8]:
results_2416 = pd.read_csv('../result_gs/2416_fine.csv')
results_2416.sort_values(by='val_mee', ascending=True).head(10)

,Unnamed: 0,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss
128,128,0.010,0.58,L2,2.511886e-07,1.301139,1.498053,1.379257,1.853623
222,222,0.014,0.50,L2,1.000000e-07,1.299053,1.503843,1.378399,1.858226
145,145,0.012,0.50,L1,1.584893e-07,1.373286,1.513375,1.570382,1.899246
107,107,0.010,0.54,L2,1.000000e-06,1.372048,1.514176,1.539621,1.909278
25,25,0.008,0.54,L1,1.584893e-07,1.398222,1.514346,1.618376,1.925330
251,251,0.014,0.54,L2,1.000000e-06,1.354133,1.514635,1.512146,1.887630
215,215,0.012,0.60,L2,1.000000e-06,1.360103,1.516494,1.525632,1.918317
165,165,0.012,0.52,L2,3.981072e-07,1.348887,1.518237,1.503060,1.894714
132,132,0.010,0.60,L1,1.000000e-07,1.393688,1.518390,1.597435,1.936572
177,177,0.012,0.54,L2,3.981072e-07,1.352925,1.518642,1.515752,1.920026

In [2]:
#Fine grained grid search 32-16
model = Network(9)
model.add_layer(32, ReLU())
model.add_layer(16, ReLU())
model.add_layer(2, Sigmoid(), initializer='xavier')

gs_results = grid_search_cv(
    model, 
    x=X, 
    y=y, 
    n_folds=3,
    metric=MeanEuclideanError(), 
    loss=MeanSquaredError(), 
    eta=[0.8e-2, 1e-2, 1.2e-2, 1.4e-2],
    nesterov=[0.6, 0.62, 0.64, 0.66, 0.68, 0.7],
    reg_type=[L1,L2],
    reg_val=[1e-8, 10**(-7.8), 10**(-7.6), 10**(-7.4), 10**(-7.2), 1e-7],
    epochs=1000,
    scaler=scaler,
    workers=6,
    verbose=False
)

Gridsearch: exploring 288 combinations.

100%|██████████| 288/288 [1:31:28<00:00, 19.06s/it]

In [3]:
results_df = parse_results(gs_results)
results_df.to_csv('../result_gs/3216_fine.csv')

In [7]:
results_3216 = pd.read_csv('../result_gs/3216_fine.csv')
results_3216.sort_values(by='val_mee', ascending=True).head(10)

,Unnamed: 0,eta,nesterov,reg_type,reg_val,tr_mee,val_mee,loss,val_loss
226,226,0.014,0.60,L2,6.309573e-08,1.289481,1.497922,1.349918,1.850261
253,253,0.014,0.66,L1,1.584893e-08,1.284251,1.501803,1.332352,1.829525
127,127,0.010,0.68,L2,1.584893e-08,1.264757,1.503696,1.286881,1.837372
274,274,0.014,0.68,L2,6.309573e-08,1.310219,1.508823,1.407817,1.879317
173,173,0.012,0.64,L1,1.000000e-07,1.326958,1.512048,1.440068,1.872156
103,103,0.010,0.64,L2,1.584893e-08,1.315769,1.512703,1.416940,1.863251
209,209,0.012,0.70,L1,1.000000e-07,1.359202,1.514098,1.503501,1.920594
160,160,0.012,0.62,L1,6.309573e-08,1.332072,1.514135,1.466284,1.900869
153,153,0.012,0.60,L2,3.981072e-08,1.308492,1.514375,1.399136,1.873174
44,44,0.008,0.66,L2,2.511886e-08,1.345827,1.515023,1.493369,1.888412

In [ ]:
# just for debugging

model = Network(9)
model.add_layer(16, ReLU())
model.add_layer(16, ReLU())
model.add_layer(2, Sigmoid())

gs_results = grid_search_cv(
    model, 
    x=X, 
    y=y, 
    n_folds=3,
    metric=MeanEuclideanError(), 
    loss=MeanSquaredError(), 
    eta=[1e-2,],
    nesterov=[0.9,],
    reg_type=[L2],
    reg_val=[1e-7,],
    epochs=300,
    scaler=scaler,
    workers=6
)

In [ ]:
results_df = parse_results(gs_results)
results_df.sort_values(by='val_mee', ascending=True)